.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.card{
  width: 23%;
  height: auto;
  float: left;
  border: 2px solid white;
  padding: 20px;
  background-color: white;
  box-shadow: 0 1.6px 1.6px 1.6px rgba(255, 255, 255, 0.4);
}
.image-card{
  width: 100%;
  height: 70px;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}
.dummy-images{
  width: 24%;
  height: 50px;
  float: left;
  border-radius: 100%;
  background-image: url('./Images/dummy.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h5{
  height: 60px;
  color: black;
}
p{
  font-size: 10px;
  height: 2px;
  color: black;
}
.info{
  font-size: 8px;
  padding: 20px;
  color: black;
}
.contact-icons{
  width: 100%;
  float: left;
  border: 1px solid white;
}
.icons{
  width: 20%;
  height: 20px;
  float: left;
  margin: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icons i{
  color: #DD1618;
  font-size: 10px;
}